<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner">

	  <div class="item active">
	  	<%= image_tag "slid-img2.jpg", size: "1900x500"%>
	    <div class="carousel-caption hidden-xs">
	     <!--  <h3>Headline</h3>
	      <p class="hidden">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p> -->
	    </div>
	  </div><!-- End Item -->

	  <div class="item">
	    <%= image_tag "slide-img2.jpg", size: "1900x500"%>
	    <div class="carousel-caption hidden-xs">
	      <h3>Headline</h3>
	      <p class="hidden">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	    </div>
	  </div><!-- End Item -->

	  <div class="item">
	    <%= image_tag "slid-img2.jpg", size: "1900x500"%>
	    <div class="carousel-caption hidden-xs">
	      <h3>Headline</h3>
	      <p class="hidden">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	    </div>
	  </div><!-- End Item -->

	  <div class="item">
	    <%= image_tag "slide1.png", size: "1900x500"%>
	    <div class="carousel-caption hidden-xs">
	      <h3>Headline</h3>
	      <p class="hidden">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	    </div>
	  </div><!-- End Item -->

	</div><!-- End Carousel Inner -->


	<ul class="nav nav-pills nav-justified bg-gray" id="nav-control">
	  <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>Lorem ipsum dolor sit</small></a></li>
	  <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
	  <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
	  <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
	</ul>
</div><!-- End Carousel -->