<h3 class="page-header">Lucky Numbers </h3>
<br>
	<h1> 
		<strong>
			<span class="wow bounce" data-wow-duration="2s" data-wow-iteration="infinite"><%= @lucky1 %></span>,
			<span class="wow bounce" data-wow-duration="2s" data-wow-iteration="infinite" data-wow-delay="1s"><%= @lucky2 %></span>
		</strong>
	</h1>
