<!DOCTYPE html>
<html>
<head>
  <title>Saii Laharri</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
  
  
</head>
<body id="gallexy-bg">

 <div class="container" id="page-wrapper">    
      <!-- <div class="container-fluid head-note bg-red">
        <div class="col-sm-6">
          <p><kbd>Hello</kbd> this some note.</p>
        </div>
        <div class="col-sm-6 hidden-xs">
          <ul class="list-inline pull-right circle-nav">
            <li><a href="#"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>            
          </ul>
        </div>
      </div> -->
      <%= render 'shared/main_menu' %>    
      
      
      <div class="well">
        <% if notice.present?  %>
        <div class="alert alert-success" role="alert"><p class="notice"><%= notice %></p></div>
        <% end %>
        <% if alert.present?  %>
        <div class="alert alert-danger" role="alert"><p class="alert"><%= alert %></p></div> 
        <% end %>

        
        <div class="row">
          <div class="col-sm-3">
            <ul class="list-group">
              <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar_url, class: "img-responsive" %>
              <% elsif current_user.gender %>
              <%= image_tag "profile-2.jpg", class: "img-responsive" %>
              <% else %>
              <%= image_tag "profile-1.jpg", class: "img-responsive" %>
              <%end %>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="owl-carousel" id="owl-demo">
              <div class="item"><%= image_tag "slide1.jpg"%></div>
              <div class="item"><%= image_tag "slide2.jpg"%></div>
              <div class="item"> <%= image_tag "slider1.jpg"%></div>
              <div class="item"><%= image_tag "slider2.jpg"%></div>
              <div class="item"><%= image_tag "image7.jpg"%></div>
              <div class="item"><%= image_tag "image8.jpg"%></div>
            </div>
          </div>
          <div class="col-sm-3 well">
            <h4>CR REFER NO: <span class="label label-primary"><%= current_user.reference_no %></span></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="row">
              <div class="col-xs-12 block">      
                <%= link_to lucky_number_numerologys_path, class: "circle2"  do %>      
                <span>Lucky<br> Number</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to cell_number_match_numerologys_path, class: "circle2"  do %>     
                <span>Cell Number Match</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to vechicle_number_match_numerologys_path, class: "circle2"  do %>     
                <span>Vechicle <br>Number <br>Match</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to get_digital_numerologys_path, class: "circle2"  do %>     
                <span>Digital</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to get_friendship_numerologys_path, class: "circle2"  do %>      
                <span>Friendship</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to get_favorites_numerologys_path, class: "circle2"  do %>     
                <span>Get Favorites</span>
                <%end%>
              </div>

              <div class="col-xs-12 block">
                <%= link_to get_name_correction_numerologys_path, class: "circle2"  do %>     
                <span>Name Correction</span>
                <%end%>
              </div>
              <div class="col-xs-12 block">
                <%= link_to get_job_predictions_numerologys_path, class: "circle2"  do %>     
                <span>Job Predictions</span>
                <%end%>
              </div>
              <div class="col-xs-12 block">
                <%= link_to get_fav_years_for_marriages_numerologys_path, class: "circle2"  do %>     
                <span>Marriage Predictions</span>
                <%end%>
              </div>

            </div>

          </div>
          <div class="col-sm-9"><%= yield %></div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="alert alert-success" role="alert">
              <p class="notice">Birth Day wished Panel</p>
            </div>
          </div>
        </div>
        
      </div>
      <div class="container-fluid head-note bg-red">
        <div class="col-sm-6">
          <p><kbd>Hello</kbd> this some note.</p>
        </div>
        <div class="col-sm-6 hidden-xs">
          <ul class="list-inline pull-right circle-nav">
            <li><a href="#"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>            
          </ul>
        </div>
      </div>


    </div>
    <audio controls autoplay loop id="audioplay">            
      <source src="<%= asset_path('backgroud-music.mp3') %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>     


      <script>
        new WOW().init();
        $(".owl-carousel").owlCarousel({
          autoPlay: 3000, //Set AutoPlay to 3 seconds          
          items : 2,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [979,3]
        });
      </script>
      <style>
        #owl-demo .item{
          margin: 3px;
        }
        #owl-demo .item img{
          display: block;
          width: 100%;
          height: auto;
        }
      </style>
    </body>
    </html>
